* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #010101;
  color: #f1f1f1;
  font-family: "Inter", sans-serif;
}

main {
  text-align: center;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 5%;
  margin-right: 0px;
  margin-bottom: 5%;
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: center;
  padding-top: 0px;
}

.body-content {
  position: relative;
  margin-right: 64px;
  margin-left: 64px;
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: center;
  padding-top: 0px;
}

main img {
  padding-top: 0px;
  width: 50%;
  height: auto;
}
.main-text {
  margin: 20px;
  width: flex;
}
.text-one {
  font-size: 40px;
  font-weight: 600;
}

.pale-white {
  color: #9caec0;
}
form {
  width: 700px;
}
.cta input {
  background-color: #383b40;
  margin-right: 10px;
  border: none;
  border-radius: 15px;
  height: 40px;
  min-width: 50%;
  width: auto;
}
.cta button {
  background-color: #ee6b41;
  padding: 10x;
  height: 40px;
  width: 125px;
  border-radius: 15px;
  font-weight: bold;
}
.footer-cta {
  margin: 60px 0px 40px 0px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-cta p {
  margin-top: 10px;
  font-weight: 600;
}

.copyright-cta {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.copyright-cta p {
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

.connect-content,
.learn-content {
  position: relative;
  display: flex;
  width: auto;
  flex-direction: column;
  align-content: center;
  padding-top: 0px;
  /* padding-right: 64px;
  padding-left: 64px;*/
  padding-bottom: 64px;
  text-align: left;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
.simpleMap {
  height: 50%;
}

.detailedMap {
  height: 100vh;
  max-height: 900px;
}

footer {
  margin: 40px 0px 40px 0px;
  padding: 10px;
  width: 100%;
  text-align: center;
}
